
# server/package-lock.json
# server/package.json
server/.env

# client/src/config/aws.config.js

# client/package-lock.json
# client/package.json
# client/src

 client/.env
# src/config/aws.config.js 
