{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
 "trailingComma": "all",
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css"
}
